.App{
  width: 100%;
  margin-left: 10%;
}

.addbtn{
  background: blue;
  border: none;
  color: #fff;
}

.addUser{
  display: flex;
  gap: 10px;
}

.post{
  display: grid;
  background: rgb(32, 125, 165);
  width: 1200px;
  height: 140px;
  align-items: center;
  margin-top: 25px;
}

.content{
  display: flex;
  gap: 8px;
  margin-top: 25px;

  

}

.name{
  width: 200px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  height: 50px;
  border: none;
  color: #FFFFFF;

}

.username{
  width: 200px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  height: 50px;
  border: none;
  color: #FFFFFF;

}

.phone{
  width: 200px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  height: 50px;
  border: none;
  color: #FFFFFF;

}

.country{
  min-width: 200px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  height: 50px;
  border: none;
  color: #FFFFFF;
}

.edit{
  border: none;
  background: darkmagenta;
  color: #FFFFFF;
  width: 140px;
  height: 50px;

}

.edit:hover{
  transform: scale(.8);
  transition: color, transform 500ms ease;
  background: #14474e;
}

.delete{
  border: none;
  background: darkblue;
  color: #FFFFFF;
  width: 140px;
  height: 50px;
  
}

.delete:hover{
  transform: scale(.9);
  transition: color, transform 500ms ease;
  background: brown;
}

.editpart{
  display: flex;
  gap: 8px;
  margin-left: 20px;
}